<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    
    
    <!-- 01.配置properties配置文件-->
 	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">    
	    <property name="locations">    
	        <list>    
	            <value>classpath:database.properties</value>    
	        </list>
	    </property>
	</bean>      
	
	<!-- 02.配置数据源（dbcp连接池） -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
	destroy-method="close" scope="singleton">
		<property name="driverClassName" value="${driverClassName}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<!-- 03.配置Mybatis SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"></property>
    	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
    </bean>
    
    <!--04.配置dao 根据工厂去生成session-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="cn.pb.dao"></property>
    </bean>
    <!-- 05.配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	
   <!-- 06.使用aspectj事务 -->
   <tx:advice id="myAdvice" transaction-manager="transactionManager">
   		<tx:attributes>
   			<tx:method name="del*" isolation="DEFAULT" propagation="REQUIRED" rollback-for="Exception"/>
   			<tx:method name="add*" isolation="DEFAULT" propagation="REQUIRED" rollback-for="Exception"/>
   			<tx:method name="update*" isolation="DEFAULT" propagation="REQUIRED" rollback-for="Exception"/>
   			<tx:method name="find*" read-only="true"/>
   		</tx:attributes>
   </tx:advice>
   <!-- 执行切入点 -->
   <aop:config>
   		<aop:pointcut expression="execution(* *..service..*(..))" id="myPointcut"/>
   		<aop:advisor advice-ref="myAdvice" pointcut-ref="myPointcut"/>
   </aop:config>
</beans>